<div class="container-fluid">
  <div class="col-md-2">
  <h4>FILTER</h4>

  <h5 class="height-filler">Brend</h5>
  <select class="slect" name="">
    <option>Svi brendovi</option>
  </select>

  <h5 class="height-filler">Velicina</h5>
  <select class="slect" name="">
    <option>Sve velicine</option>
  </select>

  <h5 class="height-filler">Boja</h5>
  <select class="slect" name="">
    <option>Sve boje</option>
  </select>

  <h5 class="height-filler">Stil</h5>
  <select class="slect" name="">
    <option>Svi stilovi</option>
  </select>

  <h5 class="height-filler">Cijena</h5>
  <select class="slect" name="">
    <option>Sve cijene</option>
  </select>

  </div>
  <div class="col-md-10">
    <div class="height-filler">
    </div>
  <div class="row">
    <% @shoes.each do |shoe| %>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb shoe-box">
        <a href="<%=shoe_path(shoe.id)%>" class="thumbnail">
            <img class="img-responsive" src="<%=shoe.imgurl%>" style="height: 100px">
        </a>
        <p><%=shoe.name%></p>
        <%= button_to "Dodaj u korpu", "#", class: "btn add-to-cart", id:"shoe_#{shoe.id}" %>
    </div>
    <% end %>
  </div>
</div>
</div>


<script>
$(document).ready(function(){
  $('.add-to-cart').click(function(e){
    e.preventDefault();
    console.log($(this).attr("id"));
    var id=$(this).attr("id").split("_")[1];
    var signed_in="<%=signed_in?%>";
    console.log(signed_in);



    toastr.options.positionClass = 'toast-bottom-full-width';
    toastr.options.extendedTimeOut = 0; //1000;
    toastr.options.timeOut = 1000;
    toastr.options.fadeOut = 250;
    toastr.options.fadeIn = 250;

    if(signed_in=="false") toastr.warning('Niste logovani')
    else {
    $.post("/line_items?shoe_id="+id,function(data){

      toastr.success('Uspjesno ste dodali artikal u korpu!')
      var cart=$("#cart-badge").html();
      $("#cart-badge").html(parseInt(cart)+1);

    })}


  })
})
</script>
