<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">a<font color="#ff3333">bh</font>Shoes</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if nil%><li><a href=<%=store_index_path %>>Home</a></li><%end%>
        <li><a href=<%=store_index_path(category: 1) %>>Muska obuca</a></li>
        <li><a href=<%=store_index_path(category: 2) %>>Zenska obuca</a></li>
        <li><a href=<%=store_index_path(category: 3) %>>Djecija obuca</a></li>
        <li><a href="#">Dodaci</a></li>
      </ul>
      <% if !signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=<%=new_user_path %>><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
        <li><a href=<%=new_session_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <% end %>
      <% if signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%=carts_path%>"><span class="glyphicon glyphicon-shopping-cart"></span><%if session[:cart_id] %> <span class="badge" id="cart-badge"><%=Cart.find_by_id(session[:cart_id]).line_items.count%><% end %></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-home"></span> <%=session[:username]%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if is_admin? %>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Admin panel </a></li>
            <%end%>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Nalog </a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Log out", session_path(current_user), method: "delete" %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
